Django==4.2.13
djangorestframework==3.15.1
django-cors-headers==4.3.1
django-environ==0.11.2
Shapely>=2.0
geopy==2.4.1
requests==2.31.0
scikit-learn>=1.4
xgboost>=2.0
pandas>=2.2
numpy>=1.26
joblib>=1.4
matplotlib>=3.9
seaborn>=0.13
google-auth==2.29.0
PyJWT==2.8.0
python-dotenv==1.0.1
ipython==8.24.0
django-extensions==3.2.3
